.task_input{
  text-align: center;
  margin-top: 5px;
}

.btn-success{
  margin: 10px;
}

.task_input input{
  padding: 5px;
  border-radius: 10px;
}

.task_list{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

